*{                  /**global**/
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4 {width: 33.33%; }
.col-5 {width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

[class*='col-']{    /**selected**/
    float:left;
    border:1px solid gray;
    box-sizing:border-box;
}
.row:after{             /**pseudo class:css er 1 ta special class
                            pseudo element**/
    content: '';
    clear:both;
    display:block;
}
.wrapper{
    height: auto;
    width:80%;
    margin:0 auto;
}
.main-ul{
    list-style-type:none;

}
.main-ul li{
    float:left;
    width:120PX;
    border:1px solid gray;
}
.main-ul li a{
   text-decoration:none;
    display:block;
    text-align:center;
    height:48px;
    padding-top:15px;
    background-color:black;
    color:white;
}

.main-ul li a:hover{
    background-color:white;
    color:black;
    transition:2s;
}
.demo:hover:first-letter{
        color:red;
}

.header-height { height:200px; }
.menu-height { height:50px; }
.content-height { height:600px; }
.big-footer-height { height:250px; }
.footer-height { height:40px; }